[user]
	email = nicolas.cerpa@sansano.usm.cl
	name = Nicerpa
[core]
	editor = vim
[init]
	defaultBranch = master
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
